<div class="poll-container">
    <div class="poll-content">
        <h2>Create a Poll</h2>
        <form (submit)="createPoll()">
            <div class="form-group">
                <!-- <label for="pollTitle">Poll Title</label> -->
                <input type="text" id="pollTitle"
                    placeholder="Enter the poll question" name="title"
                    class="form-control" [(ngModel)]="pollTitle">
            </div>
            <div class="card">
                <div class="card-header">
                    Options
                </div>
                <div class="card-body">
                    <div class="form-group" *ngFor="let option of options; let i = index">
                        <label for="option{{i+1}}">Option {{i+1}}:</label>
                        <div class="option-input">
                            <input type="text" [id]="'option' + (i+1)"
                                [name]="'option' + (i+1)"
                                class="form-control" [(ngModel)]="options[i]">
                            <button type="button" class="btn btn-remove" (click)="removeOption(i)">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-secondary" (click)="addOption()">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Post Poll</button>
        </form>
    </div>
</div>
