
<!-- <div class="news-container">
  <h4>Top Headlines</h4>
  <div class="news-card">
    <div *ngFor="let headline of topHeadlinesResult.slice(0, 3)" class="card">
       <img
        [src]="headline.urlToImage"
        alt="Headline Image"
        class="card-img-top"
      /> 

      <button class="read-more-button" (click)="openUrl(headline.url)">
        <div class="card-body">
          <h5 class="card-title">{{ headline.title }}</h5>
          <p>
            {{ headline.author }} <br />
            {{ headline.publishedAt }}
          </p>
        </div>
      </button>

    </div>
  </div>
</div> -->


<div class="news-container">
    <h4>Trending News</h4>
    <div class="news-card">
      <ng-container *ngFor="let headline of topHeadlinesResult">
        <div class="card" *ngIf="headline.urlToImage">
          <a [href]="headline.url" target="_blank">
            <img [src]="headline.urlToImage" alt="Headline Image" class="card-img-top" />
            <button class="read-more-button" (click)="openUrl(headline.url)">
              <div class="card-body">
                <h5 class="card-title">{{ headline.title }}</h5>
              </div>
            </button>
          </a>
        </div>
      </ng-container>
    </div>
  </div>
  
