<div class="box">
  <div class="app-name">RetroSpeaks</div>
  <div class="search-bar-group">
    <div class="overlap-group">
      <input type="text" class="text-input" placeholder="Search Issue" />
    </div>
  </div>
  <div class="user-profile">
    <div class="div">
      <div class="username-text">UserName12356</div>
      <div class="typcn-user-outline"></div>
    </div>
    <div class="logout">
      <button class="logout-button homeButton" type="button">Logout</button>
    </div>
  </div>
</div>
