.box {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-name {
  font-weight: bold;
}

.search-bar-group {
  flex: 1;
  display: flex;
  justify-content: center;

}

.text-input {
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  text-align: center;
  max-width: 300px;
}


.user-profile {
  display: flex;
  align-items: center;
}

.username-text {
  margin-right: 8px;
}

.logout-button {
  background-color: #00866E;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #007959;
}
