
<div class="box">
  <div class="top-bar-wrapper">
    <div class="top-bar">
      <div class="overlap">
        <div class="search-bar-group">
          <div class="overlap-group">
            <input type="text" class="text-input" placeholder="Search Issue" />
          </div>
        </div>
        <div class="user-profile home-left">
          <div class="div">
            <div class="username-text">UserName12356</div>
            <div class="typcn-user-outline"></div>
          </div>
        </div>
        <div class="logout home-left">
          <button class="logout-button homeButton" type="button">Logout</button>
        </div>
        <div class="app-name home-left">RetroSpeaks</div>
      </div>
    </div>
  </div>
</div>
