
.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.post-nav-input {
  width: 735px;

  margin-left: 11.5%;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.custom-button {
  /* border-color: green !important; */
  border: 3px solid #00866E !important;
  color: gray !important;
  font-family: 'Courier New', Courier, monospace;
}

.spaced-text {
  letter-spacing: 0.2em !important;
}

