<mat-card class="post-card">
  <mat-card-header>
    <div class="creator-info">
      <span class="creator-username">@{{ username }} </span>
      <div class="title-and-time">
        <h2 class="card-title">{{ title }}</h2>
        <span class="time-passed">{{ timePassed }}</span>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content>
    <p class="card-description">{{ description }}</p>
  </mat-card-content>
  <mat-card-actions class="card-actions">
    <button mat-button class="toggle-comments-button" (click)="toggleComments()">Comments</button>
    <span class="spacer"></span>
    <button mat-icon-button class="agree-button">
      <mat-icon>thumb_up</mat-icon>
    </button>
    <button mat-icon-button class="disagree-button">
      <mat-icon>thumb_down</mat-icon>
    </button>
  </mat-card-actions>
  <mat-expansion-panel [expanded]="showComments" [hideToggle]="!showComments">
    <mat-panel-description>{{ commentCount }}</mat-panel-description>
        <app-comments [post]="post"></app-comments>

  </mat-expansion-panel>
</mat-card>
