<div class="card">
  <div class="card-content">
    <div class="card-header">
      <span class="creator-username">@{{ username }}</span>
      <div class="title-and-time">
        <h2 class="card-title">{{ title }}</h2>
        <span class="time-passed">{{ timePassed }}</span>
      </div>
    </div>
    <p class="card-description">{{ description }}</p>
    
    <div class="comment-section">
      <div class="comment-header" (click)="toggleComments()">
        <p class="comment-count">{{ commentCount }} comments</p>
        <button class="toggle-button">
          <span [class]="showComments ? 'icon-chevron-up' : 'icon-chevron-down'"></span>
        </button>
      </div>
      <app-comments *ngIf="showComments" [username]="username"></app-comments>

      <div class="card-footer">
        <div class="button-group">
          <button class="agree-button">Agree</button>
          <button class="disagree-button">Disagree</button>
        </div>
      </div>
    </div>
  </div>
</div>
