.title-and-time {
  display: flex;
  align-items: center;
}

.mat-card {
  position: relative;
  margin-bottom: 10px;
}

.card-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.time-passed {
  margin-left: 8px;
  color: gray;
  font-weight: normal;
}


.mat-card-actions button {
  margin-left: 8px;
  /* Add your mat-button styles here */
}

.spacer {
  flex: 1;
}

.comment-section {
  margin-top: 10px;
  /* Add your comment section styles here */
}

.card-description {
  margin: 0;
  font-weight: normal;
  font-family: 'Courier New', Courier, monospace;
}

.toggle-comments-button {
  font-size: 12px;
}

.post-card {
  margin-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.vote-count-disagree {
  color: red;
}

.vote-count-agree {
  margin-right: 15px;
  color: green;
}

.agree-button.clicked {
  color: green;
}

.disagree-button.clicked {
  color: red;
}