<form [formGroup]="groupForm" (ngSubmit)="onSubmit()" class="form-container">
  <mat-form-field class="form-field">
    <mat-label>Group Name</mat-label>
    <input matInput formControlName="name" placeholder="Group Name">
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description" placeholder="Description"></textarea>
  </mat-form-field>

  <!-- <mat-form-field class="form-field">
    <mat-label>Category Type</mat-label>
    <input matInput formControlName="categoryId" placeholder="Category Type">
  </mat-form-field> -->

  <mat-form-field class="form-field">
    <mat-label>Category Type</mat-label>
    <select matNativeControl formControlName="categoryId">
      <option value="">Select Category Type</option>
      <option value="General">General</option>
      <option value="Politics">Politics</option>
      <option value="Arts">Art</option>
      <option value="Business">Business</option>
      <option value="Entertainment">Entertainment</option>
    </select>
  </mat-form-field>

  <button mat-button type="submit" class="submit-button" (click)="onSubmit()">Create Group</button>
</form>
