<div class="edit-profile-card">
  <h2>Edit Profile</h2>
  <button class="back-button" (click)="goBack()">Back</button>
  <form [formGroup]="profileForm" (ngSubmit)="saveChanges()">
    <div class="form-group">
      <label for="passWord">Password</label>
      <input type="password" name="passWord" formControlName="passWord">
    </div>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" name="firstName" formControlName="firstName">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" name="lastName" formControlName="lastName">
    </div>
    <div class="form-group">
      <label for="gender">Gender</label>
      <select name="gender" formControlName="gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
      </select>
    </div>
    <button class="save-button" type="submit">Save Changes</button>
  </form>
</div>