.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group .form-title input {
  background-color: #feffff;
  border: 2px solid #00866E;
  padding: 10px;
  margin-bottom: 10px;
  width: 95%;
  border-radius: 5px;
}

.form-group .form-title label {
  font-size: 18px;
}

label {
  font-weight: bold;
}

select {
  background-color: #ECECEC;
  width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  margin-top: 5px;
  margin-bottom: 10px;
}

button {
  padding: 8px 16px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}

button[disabled] {
  background-color: #b3b3b3;
    cursor: not-allowed;
}


.remove-option-btn {
  background-color: #e2786a;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 5px;
  padding: 3px 5px 2px;
}

.remove-option-btn i {
  margin: 0;
}

.remove-question-btn {
  padding: 8px 16px;
  background-color: #e2786a;
  margin-top: 15px;
  color: white;
}

#survey-container {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.container button {
  margin-right: 5px;
  margin-top: 5px;
}

.answer-option {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.answer-option .options-container {
  display: flex;
  align-items: center;
}

.answer-option .option-checkbox,
.answer-option .option-radio {
  margin-right: 10px;
}

.answer-option input[type="text"] {
  width: 300px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.questions-container .form-group {
  position: relative;
  padding: 20px;
  border-radius: 5px;
  max-width: 680px;
  margin-bottom: 10px;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /* background-color: rgb(251, 250, 247); */
  background-color: #feffff;
    border: 1px solid #00866E;
}

.questions-container .form-group::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 10px;
  background-color: #00866E;
  border-radius: 5px 0 0 5px;
}

.questions-container .form-group input[type="text"] {
  background-color: #feffff;
  border: 2px solid #00866E;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 95%;
  border-radius: 5px;
}

.questions-container .form-group .answer-option input[type="text"] {
  width: 200px;
  margin-bottom: 0;
  margin-top: 0;
}

.option-linear-scale {
  display: flex;
  align-items: center;
}

.option-linear-scale span {
  margin-right: 10px;
}

.option-linear-scale input[type="text"] {
  width: 50px;
  margin-right: 10px;
}

.add-option-btn {
  border-radius: 5px;
  font-size: 12px;
  padding: 5px;
  margin: 5px;
  background-color: #00866E;
}