.box {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 1500px;
  z-index: 99999;
}

.app-name {
  /* padding-left: 50px; */
  margin-left: 50px;
  font-size: 22px;
  font-weight: bold;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  cursor: pointer;
  text-shadow: -2px 2px 0px rgba(0, 134, 110, 0.5);
}

.app-name:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 5px;
}

.search-bar-group {
  flex: 1;
  justify-content: center;
  margin-left: 250px;
}

.text-input {
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  text-align: center;
  max-width: 300px;
}

.user-profile {
  display: flex;
  align-items: center;
}

.username-text {
  font-size: 16px;
  margin-right: 20px;
  margin-left: 8px;
}


.logout-button {
  background-color: #00866E;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

/* .dark-mode-toggle {
  margin-right: 20px;
  margin-left: 20px
}

.dark-mode-toggle:hover{
  background-color: #007959;
} */


.logout-button:hover {
  background-color: #007959;
}

body {
  margin: 0;
  padding: 0;
  background: #19161c;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  align-content: center;
  
}

.input {
  padding: 8px;
  width: 400px;
  height: 40px;
  background: none;
  border: 3px solid #00866E;
  border-radius: 50px;
  box-sizing: border-box;
  font-family: "monospace", sans-serif;
  font-size: 20px;
  color: black;
  outline: none;
  transition: .5s;
}

form:hover input {
  width: 600px;
  background: hsla(169, 100%, 26%, 0.24);
  border-radius: 8px;
}

.search-bar-group i {
  position: absolute;
  top: 50%;
  transform: translate(-900%,-50%);
  font-size: 20px;
  color: #00866E;
  transition: .2s;
}

.search-bar-group:hover i {
  opacity: 0;
  z-index: -1;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 50px;
}

.dropdown-button .username-text {
  margin-right: 4px;
}

.dropdown-button i {
  margin-left: 2px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 0;
}

.dropdown-content button {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  background-color: transparent;
  outline: none;
  width: 100%;
  text-align: left;
}

.dropdown-content button:hover {
  background-color: #00866e;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}





.dark-mode-toggle {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 10px;
  margin-right: 12px;
  margin-left: 25px;
  background-color: #ccc;
  border-radius: 26px;
  transition: background-color 0.3s ease;
}

.dark-mode-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00866E;
  transition: .4s;
  border-radius: 26px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

.dark-mode-toggle input:checked + .slider {
  background-color: #6c7272;
}

.dark-mode-label {
  top: 6px;
  right: 1250px;
  position: absolute;
}

.dark-mode-toggle input:checked + .slider:before {
  transform: translateX(22px);
}

.slider.round {
  border-radius: 26px;
}

.slider.round:before {
  border-radius: 50%;
}
