.box {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-name {
  padding-left: 50px;
  font-size: 22px;
  font-weight: bold;
}

.search-bar-group {
  flex: 1;
  display: flex;
  justify-content: center;

}

.text-input {
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  text-align: center;
  max-width: 300px;
}


.user-profile {
  display: flex;
  align-items: center;
}

.username-text {
  margin-right: 8px;
}

.logout-button {
  background-color: #00866E;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #007959;
}








body {
  margin: 0;
  padding: 0;
  background: #19161c;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  align-content: center;
}

.input {
  padding: 8px;
  width: 400px;
  height: 40px;
  background: none;
  border: 3px solid #00866E;
  border-radius: 50px;
  box-sizing: border-box;
  font-family: "monospace", sans-serif;
  font-size: 20px;
  color: black;
  outline: none;
  transition: .5s;
}

.box:hover input {
  width: 600px;
  background: hsla(169, 100%, 26%, 0.24);
  border-radius: 8px;
}

.box i {
  position: absolute;
  top: 50%;
  transform: translate(-900%,-50%);
  font-size: 20px;
  color: #00866E;
  transition: .2s;
}

.box:hover i {
  opacity: 0;
  z-index: -1;
}
