<div class="box">
  <a class="app-name" routerLink="/home/feed">RetroSpeaks</a>
  <div class="dark-mode-label">{{ darkMode ? 'Dark Mode' : 'Light Mode' }}</div> <!-- Update the label here -->
  <label class="dark-mode-toggle">
    <input type="checkbox" [checked]="darkMode" (change)="toggleDarkMode($event)">
    <span class="slider round"></span>
  </label>
  <div class="search-bar-group">
    <form name="search">
      <input type="text" class="input" name="txt" (mouseleave)="resetSearch()" placeholder="     Search" />
    </form>
  </div>
  <div class="user-profile">
    <div class="dropdown">
      <div class="dropdown-button">
        <div class="username-text">{{ usernameText | titlecase }}</div>
        <i class="fas fa-caret-down"></i>
      </div>
      <div class="dropdown-content">
        <button class="dropdown-item" (click)="goToEditProfile()">Edit Profile</button>
        <button class="dropdown-item" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</div>
