<div class="box">
  <div class="app-name">RetroSpeaks</div>
  <button class="dark-mode-toggle" (click)="toggleDarkMode()">
    Dark Mode
  </button>
  <div class="search-bar-group">
    <form name="search">
      <input type="text" class="input" name="txt" (mouseleave)="resetSearch()" placeholder="     Search" /> <!-- [(ngModel)]="searchQuery" -->
    </form>
    <i class="fas fa-search" (click)="performSearch()"></i>
  </div>
  <div class="user-profile">
    <div class="dropdown">
      <div class="dropdown-button">
        <div class="username-text">{{ usernameText | titlecase }}</div>
        <i class="fas fa-caret-down"></i>
      </div>
      <div class="dropdown-content">
        <button class="dropdown-item" (click)="goToEditProfile()">Edit Profile</button>
        <button class="dropdown-item" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</div>
