/* Post CSS */
.container {
    width: 730px;
    margin: 0 auto;
    padding: 10px;
    padding-top: 5px;
    padding-top: 5px;
    background-color: #ebf8f6;
    border: 1px solid #00866E;
    border-radius: 5px;
}

.mat-tab-group {
    margin-bottom: 48px;
}

.bold-label {
    font-weight: bold !important;
    font-size: 15px;
}

/* Post CSS --- END*/