<body>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

  <body>
    <div class="logo">
      <img src="../assets/logo/Retr.png" alt="RetroSpeaks">
    </div>
    <div class="main">

      <div class="col-md-6 col-sm-12">

        <div *ngIf="success" class="dialog-box dialog-box-success">
          <p class="dialog-box-icon-success">✔️ </p>
          <p class="dialog-box-message-success">Congratulations! Your registration was successful.</p>
        </div>

        <div class="container" #container>
          <div class="form-container sign-up-container">
            <form [formGroup]="signUpForm" (ngSubmit)="signUp()" novalidate>
              <h2>Create Account</h2>
              
              <input type="text" class="form-control" placeholder="Username *" formControlName="signUpUserName" required>
              <span *ngIf="signUpForm.get('signUpUserName')!.invalid && signUpForm.get('signUpUserName')!.touched">
                <p class="error-message">Username is required and must be between 4 and 20 alphanumeric characters.</p>
              </span>
              <input type="email" class="form-control" placeholder="Email *" formControlName="signUpEmail" required>
              <div *ngIf="signUpForm.get('signUpEmail')!.invalid && signUpForm.get('signUpEmail')!.touched">
                <p class="error-message">Please enter a valid email address.</p>
              </div>
              <input type="text" class="form-control" placeholder="First Name" formControlName="signUpFirstName">
              <div *ngIf="signUpForm.get('signUpFirstName')!.invalid && signUpForm.get('signUpFirstName')!.touched">
                <p class="error-message">First Name is required and must be between 4 and 20 alphanumeric characters.</p>
              </div>
              <input type="text" class="form-control" placeholder="Last Name" formControlName="signUpLastName" required>
              <div *ngIf="signUpForm.get('signUpLastName')!.invalid && signUpForm.get('signUpLastName')!.touched">
                <p class="error-message">Last Name is required and must be between 4 and 20 alphanumeric characters.</p>
              </div>
              <input type="number" class="form-control" placeholder="Age" formControlName="signUpAge" required>
              <div *ngIf="signUpForm.get('signUpAge')!.invalid && signUpForm.get('signUpAge')!.touched">
                <p class="error-message">Age is required and must be between 18 and 100.</p>
              </div>
              <input type="password" class="form-control" placeholder="Password *" formControlName="signUpPassWord" required>
              <div *ngIf="signUpForm.get('signUpPassWord')!.invalid && signUpForm.get('signUpPassWord')!.touched">
                <p class="error-message">Password is required and must be between 4 and 20 alphanumeric characters.</p>
              </div>
              <input type="password" class="form-control" placeholder="Confirm Password" id="confirm_password" required>
              <p id="passwordError" style="color: red;"></p>
              

              <div *ngIf="signUpForm.invalid && errorMessageVisible" class="error-message">
                Please fill out all the required fields correctly.
              </div>
              <button type="submit" (click)="switchToSignIn()">Sign Up</button>
            </form>
          </div>

          <div *ngIf="fail" class="dialog-box dialog-box-success">
            <p class="dialog-box-icon-success">❌ </p>
            <p class="dialog-box-message-fail">Email or Username already exists.</p>
          </div>

          <div *ngIf="logout" class="dialog-box dialog-box-success">
            <p class="dialog-box-message-success">You have been logged out.</p>
          </div>

          <div class="form-container sign-in-container">
            <form [formGroup]="signInForm" (ngSubmit)="signIn()" novalidate>
              <h1>Sign in</h1>
              <div class="social-container">
                <a href="#" class="social"><i class="fab fa-facebook"></i></a>
                <a href="#" class="social"><i class="fab fa-google"></i></a>
                <a href="#" class="social"><i class="fab fa-linkedin"></i></a>
              </div>
              <span>or use your account</span>
              <input type="text" placeholder="Username" formControlName="userName" />
              <input type="password" placeholder="Password" formControlName="passWord" />
              <a routerLink="/forgot-password">Forgot your password?</a>
              <button type="submit">Sign In</button>
            </form>
          </div>
          

          <div class="overlay-container">
            <div class="overlay">
              <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost" id="signIn" (click)="switchToSignIn()">Sign In</button>
              </div>
              <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details</p>
                <button class="ghost" id="signUp" (click)="switchToSignUp()">Sign Up</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
