<div class="login">
    <div class="overlap-wrapper">
        <div class="overlap">
            <div class="overlap-group">
                <div class="text-wrapper">RetroSpeaks</div>
            </div>
            <div class="div">
                <form class="login-form">
                    <div class="user-name">
                        <input type="text" placeholder="Enter your username" class="username-input">
                    </div>
                    <div class="password">
                        <input type="password" placeholder="Enter your password" class="password-input">
                    </div>
                    <button class="loginButton">Login</button>
                    <div class="text-wrapper-7">Forgot Password?</div>
                </form>
                <h1 class="h-1">Login to your Account</h1>
                <div class="overlap-3">
                    <div class="sign-up-BG">
                        <div class="text-wrapper-5">New Here?</div>
                        <div class="sign-up">
                            <button class="signupButton" (click)="goToRegister()">Sign-Up</button>
                        </div>
                        <p class="p">Sign Up and Discover what Retrospeaks is. Discuss and Connect now!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
