/* CSS Styling */

.comment-input {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 15px;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.comment-input input.ng-invalid.ng-touched {
  border-color: red;
}

.comment-input input,
.comment-reply-input input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 14px;
}

.comment-input button,
.comment-reply-input button {
  background-color: #00866E;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.comment {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px;
  position: relative;
}

.comment-author {
  font-weight: bold;
  font-style: italic;
  color: #00866E;
}

.parent-comment-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment-text,
.reply-text {
  flex-grow: 1;
  margin-left: 20px;
}

.nested-comment-container {
  margin-left: 30px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nested-comment-container .reply-button {
  color: #00866E;
  background-color: white;
  border: 1px solid #00866E;
  flex-shrink: 0;
  margin-left: 10px;
  border-radius: 5px;
}

.reply-author {
  font-style: italic;
  color: #00866E;
  margin-left: 20px;
  font-size: 14px;
}

.reply-button {
  background-color: #00866E;
  color: white;
  border: none;
  flex-shrink: 0;
  margin-left: 10px;
  border-radius: 5px;
  right: 10px;
}

.comment-reply-input {
  margin-top: 10px;
  margin-left: 30px;
  display: flex;
  align-items: center;
}

.comment-reply-input input[type="text"] {
  flex: 1;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.comment-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
