
<div class = "comment-list">
  <div class="comment-input">
    <form [formGroup]="commentForm" (ngSubmit) ="addComment()">
    <input type="text" placeholder="Enter your comment" formControlName="content" />
    <button type ="submit" >Submit</button>
    </form> 
  </div>
  <div class = "comment ">
  <div *ngFor="let comment of comments">
    <ng-container *ngIf="!comment.parentCommentID">
      <!-- Display top-level comments -->
      <span class="comment-author">@{{ comment.commenter }}:&nbsp;</span>
      <mat-card-content class="parent-comment-content">
        <span class="comment-text">{{ comment.content }}:&nbsp;</span>
    </mat-card-content>
 
      <div class="nested-comments">
        <!-- Display nested comments -->
        <ng-container *ngTemplateOutlet="nestedComments; context:{ comments: comments, parentId: comment.id }"></ng-container>
      </div>
    </ng-container>
  </div>

  <ng-template #nestedComments let-comments="comments" let-parentId="parentId">
    <div *ngFor="let comment of comments">
      <ng-container *ngIf="comment.parentCommentID === parentId">
        <!-- Display nested comments -->
             <button class="reply-button" (click)="toggleReply()">Reply</button>
        <div class="nested-comment-container">
          <div class="reply-author">{{ comment.commenter }}</div>
          <div class="reply-text">{{ comment.content }}</div>
          <div *ngIf="addReplyToggle" class="comment-reply-input">
            <input type="text" placeholder="Enter your reply" [(ngModel)]="replyText"  />
          </div>
        </div>
       
        <div class="nested-comments">
          <ng-container *ngTemplateOutlet="nestedComments; context:{ comments: comments, parentId: comment.id }"></ng-container>
        </div>
      </ng-container>
    </div>
  </ng-template>
  
</div>
