.comment-input {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 15px;
}
.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.comment-input input.ng-invalid.ng-touched {
  border-color: red;
}

.comment-submit {
  background-color: #00866E;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}


.comment-input input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 14px;
}


.comment-submit {
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.comment-card {
  background-color: #e5d6d6;
  padding: 10px;
}

.comment {
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 5px;
}

.reply {
  margin-left: 30px;
}

.reply-button {
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: none; /* Add this line */
}

.reply-button {
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
}

.reply-button:hover {
  cursor: pointer;
  background-color: rgb(178, 178, 230);
  color: white;
  border-radius: 20px; /* Add this line */
}


.reply-indicator::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #ccc;
}

.comment-reply-input input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 12px;
  width: 450px;
}

.comment-reply-input { 
  margin-bottom: 5px;
  margin-left: 15px;
}

.parent-comment-content {
  display: flex;
  align-items: center;
}

.comment-text {
  flex-grow: 1;
  margin-left: 20px; 
}

.reply-author {
  font-style: italic;
  color: #00866E;
  margin-left: 40px; 
  font-size: 14px;
}

.reply-text {

  color: #080808;
  margin-left: 40px; 
  background-color: #F5F5F5;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}


.comment-author {
  font-style: italic;
  color: #00866E;
  margin-left: 20px; 
}

.hide-replies {
  padding: 10px;
}

.hide-replies:hover {
  color: blue;
}

.show-replies {
  padding: 10px;
}

.show-replies:hover {
  color: blue;
}
.nested-comments {
  margin-left: 20px; /* Add left margin to indent nested comments */
}