<div class="comment-list">
  <div class="comment-input">
    <form [formGroup]="commentForm" (ngSubmit)="addComment()">
      <input type="text" placeholder="Enter your comment" formControlName="content" (keyup.enter)="addComment()" />
      <div *ngIf="commentForm.get('content')?.invalid && commentForm.get('content')?.touched">
        <p class="error-message" *ngIf="commentForm.get('content')?.errors?.['required']">Comment is required</p>
      </div>
      <button type="submit" [disabled]="commentForm.invalid || commentForm.pristine">Submit</button>
    </form>
  </div>

  <ng-container *ngFor="let comment of comments">
    <div class="comment">
      <ng-container *ngIf="!comment.parentCommentID">
        <!-- Display top-level comments -->
        <span class="comment-author">@{{ comment.commenter }}:&nbsp;</span>
        <mat-card-content class="parent-comment-content">
          <span class="comment-text">{{ comment.content }}</span>
          <button class="reply-button" (click)="toggleReply(comment.id)">Reply</button>
        </mat-card-content>

        <div *ngIf="currentReplyId === comment.id" class="comment-reply-input">
          <form [formGroup]="replyForm" (ngSubmit)="addReply(comment.id)">
            <input type="text" placeholder="Enter your reply" formControlName="replyContent" (keyup.enter)="addReply(comment.id)" />
            <div *ngIf="replyForm.get('replyContent')?.invalid && replyForm.get('replyContent')?.touched">
              <p class="error-message" *ngIf="replyForm.get('replyContent')?.errors?.['required']">Reply is required</p>
              <p class="error-message" *ngIf="replyForm.get('replyContent')?.errors?.['minlength']">
                Minimum length is 5 characters
              </p>
            </div>
            <!-- <button type="submit">Submit</button> -->
          </form>
        </div>

        <div class="nested-comments">
          <!-- Display nested comments -->
          <ng-container
            *ngTemplateOutlet="nestedComments; context:{ comments: comments, parentId: comment.id }"
          ></ng-container>
        </div>
      </ng-container>
    </div>
  </ng-container>

  <ng-template #nestedComments let-comments="comments" let-parentId="parentId">
    <div *ngFor="let comment of comments">
      <ng-container *ngIf="comment.parentCommentID === parentId">
        <!-- Display nested comments -->

        <div class="nested-comment-container">
          <div class="reply-author">@{{ comment.commenter }}:&nbsp;</div>
          <div class="reply-text">{{ comment.content }}</div>
          <button class="reply-button" (click)="toggleReply(comment.id)">Reply</button>
        </div>

        <div *ngIf="currentReplyId === comment.id" class="comment-reply-input">
          <form [formGroup]="replyForm" (ngSubmit)="addReply(comment.id)">
            <input type="text" placeholder="Enter your reply" formControlName="replyContent" (keyup.enter)="addReply(comment.id)" />
            <div *ngIf="replyForm.get('replyContent')?.invalid && replyForm.get('replyContent')?.touched">
              <p class="error-message" *ngIf="replyForm.get('replyContent')?.errors?.['required']">Reply is required</p>
              <p class="error-message" *ngIf="replyForm.get('replyContent')?.errors?.['minlength']">
                Minimum length is 5 characters
              </p>
            </div>
            <!-- <button type="submit">Submit</button> -->
          </form>
        </div>

        <div class="nested-comments">
          <ng-container
            *ngTemplateOutlet="nestedComments; context:{ comments: comments, parentId: comment.id }"
          ></ng-container>
        </div>
      </ng-container>
    </div>
  </ng-template>
</div>
