<!-- HTML FOR CREATE POST, POLL, SURVEY -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<div class="container">
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Post">
      <app-create-post></app-create-post>
    </mat-tab>
    <mat-tab label="Poll">
      <app-create-poll></app-create-poll>
    </mat-tab>
    <mat-tab label="Survey">
      <app-create-survey></app-create-survey>
    </mat-tab>
  </mat-tab-group>
</div>

<!-- HTML FOR CREATE POST, POLL, SURVEY === [END]-->
  
  