<div class="box">
    <div class="sidebar-wrapper">
        <div class="my-space">
            <label>My Space</label>
            <div class="home">
                <button class="homeButton">Home</button>
            </div>
            <div class="feed">
                <button class="feedButton">Feed</button>
            </div>
            <div class="create-post">
                <button (click)="onButtonClick()" class="createButton">Create</button>
            </div>
        </div>

        <div class="category-selector">
            <label>Categories</label>
            <div class="category-selector-item">
                <button class="categoryButton">Category 5</button>
            </div>
            <div class="category-selector-item">
                <button class="categoryButton">Category 4</button>
            </div>
            <div class="category-selector-item">
                <button class="categoryButton">Category 3</button>
            </div>
            <div class="category-selector-item">
                <button class="categoryButton">Category 2</button>
            </div>
            <div class="category-selector-item">
                <button class="categoryButton">Category 1</button>
            </div>
        </div>
        
        <div class="groups">
            <label>Groups</label>
            <div class="group-selector-item">
                <button class="groupButton">Group1</button>
            </div>
            <div class="group-selector-item">
                <button class="groupButton">Group2</button>
            </div>
            <div class="group-selector-item">
                <button class="groupButton">Group3</button>
            </div>
            <div class="group-selector-item">
                <button class="groupButton">Group4</button>
            </div>
        </div>
    </div>
</div>