<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<div class="sidebar-box">
  <div class="sidebar-wrapper">
    <div class="home-left">
   

      <br/>
      <div class="category-selector">
        <label>Categories</label>
        <div class="category-selector-item">
          <button class="categoryButton">
            <i class="fa-solid fa-hashtag"></i>
            Category 5
          </button>
        </div>
        <div class="category-selector-item">
          <button class="categoryButton">
            <i class="fa-solid fa-hashtag"></i>
            Category 4
          </button>
        </div>
        <div class="category-selector-item">
          <button class="categoryButton">
            <i class="fa-solid fa-hashtag"></i>
            Category 3
          </button>
        </div>
        <div class="category-selector-item">
          <button class="categoryButton">
            <i class="fa-solid fa-hashtag"></i>
            Category 2
          </button>
        </div>
        <div class="category-selector-item">
          <button class="categoryButton">
            <i class="fa-solid fa-hashtag"></i>
            Category 1</button
          ><br />
        </div>
      </div>
  
      <br/>
      <div class="groups">
        <label>Groups</label>
        <div class="group-selector-item" *ngFor="let group of groups">
          <button class="groupButton" (click)="navigateToGroup(group.id)">
            <i class="fa-solid fa-users-rectangle"></i>
            {{ group.name }}
          </button>
        </div>
      </div>
   
  
    </div>
  </div>
</div>
