

<div class="container">
  <div class="box">

    <mat-expansion-panel hideToggle class="group-header">
      <mat-expansion-panel-header class="group-name-category">
        <mat-panel-title>
          <h2><mat-icon>group</mat-icon> {{group?.name}}</h2>
          <span class="small-category-name">{{group?.category?.name}}</span>
          <span class="post-count">Post Count: {{postCount}}</span>
          <span class="followers-count">Followers: {{followersCount}}</span>

        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>{{group?.description}}</p>
    </mat-expansion-panel>

    <div *ngFor="let post of posts">
      <app-content-card

        [username]="post.username ?? ''"
        [title]="post.title ?? ''"
        [description]="post.content ?? ''"
        [creationDate]="post.postDate ?? null"
        [post]="post"
        [title]="post.title ?? ''"
        [description]="post.content ?? ''"
      ></app-content-card>

    </div>
    <app-poll-content-card></app-poll-content-card>
    <app-survey-content-card></app-survey-content-card>
  </div>
</div>


