.box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    max-width: 760px;
}

.title,
.content {
    background-color: #feffff;
    border: 2px solid #00866E; /* Add thin green border */
    padding: 10px;
    margin-bottom: 10px;
    width: 95%;
    border-radius: 5px;
}

.content {
    resize: vertical;
    /* Allow vertical resizing */
    height: 80px;
    /* Set initial height */
    min-height: 80px;
    /* Set minimum height */
    max-height: 160px;
    /* Set maximum height */
}

.post-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

.post-button:hover {
    background-color: #0056b3;
}

.post-button:disabled {
    background-color: #b3b3b3;
    cursor: not-allowed;
}