
<div class="box">
    <form [formGroup]="createPostForm" (ngSubmit) ="submitCreatePost()">
        <div>
            <input type="text" class="title" placeholder="Title here" formControlName="title" >
        </div>
        <br>
        <div>
            <textarea placeholder="Description here" name="description" class="title" formControlName="description"></textarea>
        </div>
        <button type="submit" class="post-button" [disabled]="!title || !description">Submit</button>
    </form>
  </div>
