<body>
    <div>
        <app-sidebar (createButtonClick)="showCreatePost()"></app-sidebar>
    </div>
    <div class="box">
        <div class="top-bar-wrapper">
            <div class="top-bar">
                <div class="overlap">
                    <div class="search-bar-group">
                        <div class="overlap-group">
                            <input type="text" class="text-input" placeholder="Search Issue" />
                        </div>
                    </div>
                    <div class="username">
                        <div class="div">
                            <div class="text-wrapper-2">UserName12356</div>
                            <div class="typcn-user-outline"></div>
                        </div>
                    </div>
                    <div class="logout">
                        <button class="logout-button" type="button">Logout</button>
                    </div>
                    <div class="text-wrapper-4">RetroSpeaks</div>
                </div>
            </div>
        </div>
    </div>
    <!-- <h1>content here</h1> -->
    
    <app-content-card title="Sample Issue" description="This is a sample content card"></app-content-card>
    <app-content-card title="Sample Issue" description="This is a sample content card"></app-content-card>
    <app-content-card title="Sample Issue" description="This is a sample content card"></app-content-card>
    <app-content-card title="Sample Issue" description="This is a sample content card"></app-content-card>
    <app-content-card title="Sample Issue" description="This is a sample content card"></app-content-card>
    <app-content-card title="Sample Issue" description="This is a sample content card"></app-content-card>
    <app-content-card title="Sample Issue" description="This is a sample content card"></app-content-card>
    <app-content-card title="Sample Issue" description="This is a sample content card"></app-content-card>
    <app-content-card title="Sample Issue" description="This is a sample content card"></app-content-card>
    
    <div class="content">
        <app-create-post *ngIf="showCreatePostComponent"></app-create-post>
    </div>
</body>