
      <!-- <app-create-post *ngIf="showCreatePostComponent"></app-create-post>
      <app-create-buttons></app-create-buttons> -->

      <div *ngIf="showCreatePostComponent || showCreatePollCard || showCreateSurveyCard">
        <app-create-post *ngIf="!showCreatePollCard && !showCreateSurveyCard"></app-create-post>
        <app-create-poll *ngIf="!showCreatePostComponent && !showCreateSurveyCard"></app-create-poll>
        <app-create-survey *ngIf="!showCreatePostComponent && !showCreatePollCard"></app-create-survey>
      
        <app-create-buttons
          (showCreatePollEvent)="handleShowCreatePollEvent($event)"
          (showCreateSurveyEvent)="handleShowCreateSurveyEvent($event)"
          (showCreatePostEvent)="handleShowCreatePostEvent()"
        ></app-create-buttons>
      </div>
      
