.box {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.box .top-bar-wrapper {
    border: 0px none;
    height: 67px;
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
}

.box .top-bar {
    height: 67px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.box .overlap {
    background-color: #ffffff;
    box-shadow: 0px 4px 4px #0000000d;
    height: 67px;
    position: relative;
    width: 100%;
    max-width: 100%;
}

.box .search-bar-group {
    height: 35px;
    left: 196px;
    position: absolute;
    top: 16px;
    width: 626px;
}

.box .text-wrapper {
    color: #b8b8b8;
    font-family: "Inter-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 57px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 11px;
    width: 109px;
}

.box .vector {
    height: 18px;
    left: 16px;
    position: absolute;
    top: 8px;
    width: 27px;
}

.box .username {
    height: 19px;
    left: 1073px;
    position: absolute;
    top: 18px;
    width: 94px;
}

.box .div {
    height: 19px;
    position: relative;
    width: 92px;
}

.box .img {
    height: 10px;
    left: 0;
    position: absolute;
    top: 6px;
    width: 8px;
}

.box .text-wrapper-2 {
    color: #282828;
    font-family: "Inter-Regular", Helvetica;
    font-size: 10px;
    font-weight: 400;
    left: 10px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 6px;
    width: 82px;
}

.box .typcn-user-outline {
    height: 18px;
    left: 0;
    position: absolute;
    top: 0;
    width: 43px;
}

.box .logout {
    height: 13px;
    left: 1379px;
    position: absolute;
    top: 23px;
    width: 43px;
}

.box .text-wrapper-3 {
    color: #282828;
    font-family: "Inter-Regular", Helvetica;
    font-size: 10px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 41px;
}

.box .text-wrapper-4 {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 19px;
    font-weight: 600;
    left: 22px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 24px;
    width: 137px;
}

.text-input {
    width: 100%;
    height: 20px;
    padding: 5px;
    border: none;
    background-color: #ededed;
    border-radius: 25px;
    font-size: 12px;
    font-family: "Inter-Regular", Helvetica;
    color: #282828;
}

.logout-button {
    background-color: white;
    border: none;
    cursor: pointer;
    /* Add any other desired styles */
} 

.content {
    height: calc(100vh - 130px);
    margin-top: 130px;
    margin-bottom: 10px;
    margin-left: 60px;
}
.scrollable-content {
    max-height: 100vh;
    min-height: 100vh;
    max-width: 1000px;
    margin-right: 0;        
    overflow: auto;
    overflow-y: auto;
    scrollbar-width: thin; 
    scrollbar-color: transparent transparent;
}

/* Customize the appearance of the scrollbar */
.scrollable-content::-webkit-scrollbar {
    width: 6px; 
  }
  
  .scrollable-content::-webkit-scrollbar-thumb {
    background-color: transparent; 
  }
  
  .scrollable-content::-webkit-scrollbar-track {
    background-color: transparent; 
  }

html, body {
    width: 100%;
    height: 100vh;
    background-color: #d9d9d9;
    overflow-y: hidden;
}

app-content-card {
    margin-left: 40%;
    height: 100%;
}

app-create-post {
    width: 40%;
} */


/* home section start here */

.home{
    display: flex;
    justify-content: center;
}
.container{
    width: 95%;
}
.home-weapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.home-left{
    width: 20%;
    background: var(--white);
    box-shadow: 0 2px 5px 0 var(--shadow);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-bottom: 20px;
}

.profile{
    width: 100%;
    height: 60px;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    cursor: pointer;
}
.profile img{
    width: 40px;
    float: left;
    margin-right: 8px;
    border-radius: 50px;
}
.profile h3{
    font-size: 16px;
    color: var(--black);
    text-transform: capitalize;
}

.pages,
.group,
.games{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.mini-headign{
    text-transform: uppercase;
    color: var(--gray);
    margin-bottom: 15px;
}
.pages label,
.group label,
.games label{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.pages label img,
.group label img,
.games label img{
    width: 35px;
    margin-right: 8px;
    box-shadow: 0 2px 5px 0 var(--shadow);
    padding: 5px;
    border-radius: 8px;
}
.pages label span,
.group label span,
.games label span{
    color: var(--gray);
    font-size: 14px;
}
.see-more-btn{
    padding: 8px;
    background: var(--white);
    border: none;
    box-shadow: 0 2px 6px 0 var(--shadow);
    border-radius: 50px;
    color: #4575b3;
    font-weight: 600;
    font-size: 15px;
    margin-top: 10px;
    transition: .4s;
}
.see-more-btn i{
    font-size: 12px;
    margin-left: 5px;
}
.see-more-btn:hover{
    background: #f1f3f5;
    box-shadow: 0 5px 6px 0 #76767663;
    cursor: pointer;
}
.explore{
    display: flex;
    flex-direction: column;
}
.explore a{
    color: #4575b3;
    margin-bottom: 15px;
    font-weight: 600;
}
.explore a:hover{
    color: #1877f2;
}
.explore a i{
    margin-right: 10px;
    width: 25px;
    height: 25px;
    box-shadow: 0 2px 5px 0 var(--shadow);
    border-radius: 8px;
    text-align: center;
    line-height: 25px;
    transition: .4s;
}
.explore > div{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-weight: 600;
    color: #4575b3;
}
.darkTheme{
    width: 40px;
    height: 24px;
    background: #4575b3;
    margin-right: 12px;
    border-radius: 50px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.darkTheme span{
    position: absolute;
    width: 16px;
    height: 16px;
    background: white;
    border-radius: 50px;
    left: 4px;
    transition: .5s;
}



/* home section end here */

/* home center section start here */

.home-center{
    width: 50%;
    overflow: hidden;
}
.home-center .stories,
.home-center .createPost{
    background: var(--white);
    box-shadow: 0 2px 5px 0 var(--shadow);
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 20px;
}

.stories-wrapper{
    display: flex;
    justify-content: space-between;
    height: 170px;
    margin-bottom: 12px;
}

.home-center .mini-headign{
    color: #1877f2;
    margin-bottom: 10px;
}
.single-stories{
    width: 18%;
    position: relative;
    padding-top: 25px;
}
.single-stories label{
    width: 45px;
    height: 45px;
    background: #daeaff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    border-radius: 50px;
    overflow: hidden;
    border: 3px solid #1877f2;
}
.single-stories label img{
    width: 100%;
}
.single-stories > div{
    width: 100%;
    overflow: hidden;
    height: 100%;
    border-radius: 18px;
    text-align: center;
    box-shadow: 1px 6px 6px 0 var(--shadow);
}
.single-stories > div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.single-stories > div b{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    color: white;
    font-weight: 400;
    text-shadow: 0 1px 8px black;
}
.single-stories > div i{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
    color: white;
}

/* createPost start */

.post-text{
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}

.post-text img{
    width: 40px;
    border-radius: 50px;
    position: absolute;
    left: 10px;
    top: 30px;
}
.post-text input{
    padding: 20px 20px 20px 60px;
    width: 100%;
    background: var(--foreground);
    border: none;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 var(--shadow);
    color: var(--black);
}

.post-icon{
    display: flex;
    align-items: center;
}
.post-icon a{
    margin-right: 10px;
    padding: 5px;
    border-radius: 10px;
    font-size: 14px;
    color: #262626;
    font-weight: 500;
}
.post-icon a i{
    padding: 5px;
    border-radius: 5px;
    color: #fff;
}
/* createPost end */

/* facebook post 01 start */

.fb-post1{
    background: var(--white);
    box-shadow: 0 2px 5px 0 var(--shadow);
    border-radius: 20px;
    padding: 15px 20px;
    padding-bottom: 20px;
}
.fb-post1-container{
    display: flex;
    flex-direction: column;
}
.fb-post1-header{
    padding-bottom: 10px;
    border-bottom: 2px solid var(--border);
    padding-bottom: 8px;
}
.fb-post1-header ul{
    display: flex;
}
.fb-post1-header ul li{
    text-transform: uppercase;
    padding: 5px 10px;
    font-weight: 600;
    color: var(--gray);
    transition: .4s;
    cursor: pointer;
}
.fb-post1-header ul li:hover{
    color: #3d3e42;
}
.fb-post1-header .active{
    color: var(--black);
    border-bottom: 3px solid #1877f2;
}
.fb-p1-main{
    display: flex;
    flex-direction: column;
}
.post-title{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 15px 0;
}
.post-title img{
    width: 50px;
    border-radius: 50px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.post-title ul{
    width: 87%;
    margin-bottom: 20px;
}
.post-title ul li span{
    color: var(--gray);
    font-weight: 400;
    font-size: 14px;
}
.post-title p{
    color: var(--gray);
}
.post-title p a{
    color: #4575b3;
}
.post-images{
    display: flex;
    justify-content: space-between;
}
.post-images1{
    width: 60%;
    overflow: hidden;
}
.post-images2{
    width: 37%;
    overflow: hidden;
}
.post-images1 img:nth-child(1){
    width: 100%;
    margin-bottom: 10px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}
.post-images1 img:nth-child(2){
    width: 47%;
    margin-right: 4%;
    height: 120px;
    object-fit: cover;
    border-radius: 15px;
}
.post-images1 img:nth-child(3){
    width: 47%;
    height: 120px;
    object-fit: cover;
    border-radius: 15px;
}
.post-images2 img{
    width: 100%;
    height: 335px;
    border-radius: 15px;
    object-fit: cover;
}
.like-comment{
    width: 100%;
    margin-top: 15px;
}
.like-comment ul{
    display: flex;
}
.like-comment ul li{
    margin-right: 20px;
}
.like-comment ul li img{
    width: 20px;
    margin-right: -5px;
}
.like-comment ul li i{
    color: #9d9d9d;
}
.like-comment ul li span{
    color: var(--gray);
    margin-left: 10px;
    font-size: 14px;
}