<body>
    <div class="register">
        <div class="overlap-wrapper">
            <div class="overlap">
                <div class="overlap-group">
                    <div class="text-wrapper">RetroSpeaks</div>
                </div>
                <div class="div">
                    <div class="password">
                        <input type="password" placeholder="Password" class="passwordText">
                    </div>
                    <div class="user-name">
                        <div class="overlap-group-2">
                            <input type="text" placeholder="Username" class="usernameText">
                        </div>
                    </div>
                    <div class="email">
                        <div class="overlap-group-2">
                            <input type="email" placeholder="Email" class="emailText">
                        </div>
                    </div>
                    <div class="lastname">
                        <div class="overlap-group-2">
                            <input type="text" placeholder="Lastname" class="lastnameText">
                        </div>
                    </div>
                    <div class="firstname">
                        <div class="overlap-group-2">
                            <input type="text" placeholder="Firstname" class="firstnameText">
                        </div>
                    </div>
                    <div class="overlap-group-wrapper">
                        <button class="registerButton">Register</button>
                    </div>
                    <h1 class="h-1">Register your Account</h1>
                    <div class="overlap-2">
                        <div class="login">Have an Account?</div>
                        <div class="login-2">
                                <!-- <div class="text-wrapper-5">Login</div> -->
                            <button class="loginButton" (click)="goToLogin()">Login</button>
                        </div>
                        <p class="p">Login and Start Discover what Retrospeaks is. Discuss and Connect now!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
